body{
margin:0;
background:#081b29;
color:white;
font-family:Arial,sans-serif;
}

.header{
display:flex;
align-items:center;
justify-content:center;
}

#logo{
width:80px;
height:80px;
object-fit:contain;
}

.clock{
font-size:110px;
font-weight:bold;
text-align:center;
color:#00ff88;
text-shadow:
0 0 10px #00ff88,
0 0 20px #00ff88,
0 0 40px #00ff88;
}

background:
linear-gradient(
135deg,
#04111d,
#082032,
#0b2447
);
.date{
text-align:center;
font-size:24px;
margin-bottom:20px;
}

.content{
display:flex;
justify-content:space-between;
padding:20px;
}

.jadwal{
width:45%;
}

.row{
display:flex;
justify-content:space-between;
padding:12px;
font-size:24px;
border-bottom:1px solid rgba(255,255,255,.2);
}

.countdown{
width:45%;
}

#countdown{
font-size:60px;
font-weight:bold;
}

.marquee{
position:fixed;
bottom:0;
width:100%;
background:#00a86b;
padding:10px;
font-size:24px;
}

#settingBtn{
position:fixed;
top:20px;
right:20px;
font-size:24px;
cursor:pointer;
}

.panel{
display:none;
position:fixed;
top:70px;
right:20px;
background:white;
color:black;
padding:20px;
border-radius:10px;
width:300px;
  max-height:80vh;
  overflow-y:auto;
}

.panel input,
.panel textarea{
width:100%;
margin-bottom:10px;
padding:10px;
}

#fullscreenBtn{
position:fixed;
top:20px;
right:70px;
font-size:24px;
cursor:pointer;
z-index:999;
}

:root{
--theme:#00ff88;
}

.clock{
color:var(--theme);
}
