body{
margin:0;
background:#081b29;
color:white;
font-family:Arial,sans-serif;
}

.header{
display:flex;
align-items:center;
padding:20px;
gap:20px;
}

#logo{
width:80px;
height:80px;
object-fit:contain;
}

.clock{
font-size:90px;
text-align:center;
font-weight:bold;
}

.date{
text-align:center;
font-size:24px;
margin-bottom:20px;
}

.content{
display:flex;
justify-content:space-around;
padding:20px;
}

.jadwal{
width:40%;
}

.row{
display:flex;
justify-content:space-between;
padding:12px;
font-size:24px;
border-bottom:1px solid rgba(255,255,255,.2);
}

.countdown{
text-align:center;
}

#countdown{
font-size:60px;
font-weight:bold;
}

.marquee{
position:fixed;
bottom:0;
width:100%;
background:#00a86b;
padding:10px;
font-size:24px;
}

#settingBtn{
position:fixed;
top:20px;
right:20px;
font-size:24px;
cursor:pointer;
}

.panel{
display:none;
position:fixed;
top:70px;
right:20px;
background:white;
color:black;
padding:20px;
border-radius:10px;
width:300px;
}

.panel input,
.panel textarea{
width:100%;
margin-bottom:10px;
padding:10px;
}

#fullscreenBtn{
position:fixed;
top:20px;
right:70px;
font-size:24px;
cursor:pointer;
z-index:999;
}
