body{
margin:0;
background:#081b29;
color:white;
font-family:Arial,sans-serif;
}

.header{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
margin-top:10px;
}

#logo{
width:70px;
height:70px;
object-fit:contain;
margin-right:15px;
}

.clock{
font-size:110px;
font-weight:bold;
text-align:center;
color:#00ff88;
text-shadow:
0 0 10px #00ff88,
0 0 20px #00ff88,
0 0 40px #00ff88;
}

background:
linear-gradient(
135deg,
#04111d,
#082032,
#0b2447
);
.date{
text-align:center;
font-size:24px;
margin-bottom:20px;
}

.content{
display:flex;
justify-content:space-between;
padding:20px;
}

.jadwal{
width:45%;
}

.row{
display:flex;
justify-content:space-between;
padding:12px;
font-size:24px;
border-bottom:1px solid rgba(255,255,255,.2);
}

.countdown{
width:45%;
}

#countdown{
font-size:60px;
font-weight:bold;
}

.led-bar{
position:fixed;
bottom:0;
left:0;
width:100%;
height:50px;
background:#00cfa5;
overflow:hidden;
display:flex;
align-items:center;
z-index:999;
}

.led-text{
white-space:nowrap;
font-size:24px;
font-weight:bold;
color:white;
padding-left:100%;
animation:jalan 25s linear infinite;
}
@keyframes jalan{
0%{
transform:translateX(0);
}
100%{
transform:translateX(-200%);
}
}

#settingBtn{
position:fixed;
top:20px;
right:20px;
font-size:24px;
cursor:pointer;
}

.panel{
display:none;
position:fixed;
top:70px;
right:20px;
background:white;
color:black;
padding:20px;
border-radius:12px;
width:320px;
max-height:80vh;
overflow-y:auto;
box-shadow:0 0 20px rgba(0,0,0,.3);
z-index:9999;
}
.panel input,
.panel textarea{
width:100%;
margin-bottom:10px;
padding:10px;
}

#fullscreenBtn{
position:fixed;
top:20px;
right:70px;
font-size:24px;
cursor:pointer;
z-index:999;
}

:root{
--theme:#00ff88;
}

.clock{
color:var(--theme);
}

.panel button{
width:100%;
padding:10px;
margin-top:10px;
font-size:16px;
cursor:pointer;
}

#closePanel{
float:right;
cursor:pointer;
padding:5px 10px;
}

.prayer-neon{
position:fixed;
bottom:55px;
left:0;
width:100%;

display:flex;
justify-content:center;
gap:12px;

z-index:900;
}

.neon-box{
width:140px;
height:70px;
background:rgba(0,0,0,0.4);
border:2px solid #00ff88;
border-radius:12px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

box-shadow:
0 0 8px #00ff88,
0 0 16px #00ff88;
}

.neon-box div:first-child{
font-size:14px;
font-weight:bold;
color:white;
}

.neon-box div:last-child{
font-size:24px;
font-weight:bold;
color:#00ff88;
}
